
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #a2c2e4, #8ab4f8, #6a94d4, #003f6c);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/*  Background Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* General Input Field Styling for Consistency */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  max-width: 600px; 
  height: 50px;
  font-size: 18px;
  padding: 10px 15px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

/* Focused Input Styling */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Header Styling */
header {
  color: white;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Logo Styling */
.logo {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* Navigation Styling */
.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
  position: fixed;
  width: calc(100% - 40px);
  top: 50px;
  left: 20px;
  z-index: 1500;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color:#98FA00;
  font-size: 20px;
  font-weight: bold;
}

.navigation a:hover {
  color: #005bb5;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
  color: white;
}

/* Container Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.left-column {
  border-right: 1px solid #ccc;
  padding: 20px;
}

.right-column {
  padding: 20px;
}

/* Button Styling */
button {
  padding: 10px 15px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005bb5;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

p {
  color: #333;
}

/* Centering Container */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

/* Form and Button Styles */
.centered-container input,
.centered-container button {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 10px;
}

/* List Styles */
.centered-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  text-align: left;
}

.centered-container li {
  margin-bottom: 10px;
}

.centered-container .error {
  color: red;
  margin-top: 10px;
}

/* Meal Planner Wrapper */
.meal-planner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.meal-planner-wrapper h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.meal-planner-wrapper select,
.meal-planner-wrapper button {
  margin: 10px 0;
}

.meal-planner-wrapper ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.meal-planner-wrapper li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.meal-planner-wrapper li button {
  align-self: flex-end;
}

/* Meal Suggestion Wrapper */
.meal-suggestion-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
}

.image-container {
  flex: 1;
  max-width: 1000px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.content-container input,
.content-container button {
  margin-bottom: 10px;
  width: 50%;
}

.content-container ul {
  list-style: none;
  padding: 0;
}

.content-container li {
  margin-bottom: 10px;
}

/* Ingredient Search Wrapper */
.ingredient-search-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 200px;
}

.search-content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-content-container h1 {
  color: white;
}

.search-content-container input,
.search-content-container button {
  margin-bottom: 10px;
  width: 50%;
}

.search-content-container ul {
  list-style: none;
  padding: 0;
  color: white;
}

.search-content-container li {
  margin-bottom: 10px;
}
